body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
    min-height: 80vh;       
}

.header {
    background-color: #343a40;
    color: #f8f9fa;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    background-color: #343a40;
    color: #f8f9fa;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn-primary {
    background-color: #343a40;
    border-color: #343a40;
}

#logo-message {
    display: none;
    font-size: 20px;
    margin-top: 20px;
}

#prompt-and-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

img {
    max-width: 100%; 
    height: auto;    
    max-height: 80vh; 
}

.form-control {
    height: 100px;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.form-control {
    width: 100%; 
}

.input-group .form-control {
    height: 50px;
    border-radius: 0;
}

.input-group .btn {
    height: 50px;
    width: 150px;
}

#prompt-and-image img {
    max-width: 300px; 
    height: auto;
}

/* .text-center h1 {
    padding-bottom: 10%;
} */

