* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    min-height: 80vh;
}

.header, footer {
    background-color: #343a40;
    color: #f8f9fa;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.header {
    top: 0;
}

footer {
    bottom: 0;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: xx-large;
}

#logo-message {
    display: none;
    font-size: 20px;
    margin-top: 20px;
}

#prompt-and-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

#prompt-and-image img {
    max-width: 300px; 
    height: auto;
    max-height: 80vh;
}

.text-center {
    padding-bottom: 100px;
    font-weight: 400;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1.display-3 {
    font-weight: 500;
}
